/* You can add global styles to this file, and also import other style files */

@import "~bootswatch/dist/cyborg/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cyborg/bootswatch";

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid $success; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid $danger; /* red */
}
