.home-main-row{
    background-image: url("../../../assets/img/background.png");
    background-repeat: no-repeat;
    background-position: 80%;
}
.home-image-wrapper{
    overflow: hidden;
}
.home-image-wrapper img{
    display: block;
    margin: auto;
    width:150%;
}