<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Register New Employer</h3>
        <form>
            <div class="form-group">
                <label for="registerUsername">Username</label>
                <input type="text"
                       class="form-control"
                       id="registerUsername"
                       placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="registerEmail">Email</label>
                <input type="email"
                       class="form-control"
                       id="registerEmail"
                       placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="registerPassword">Password</label>
                <input type="password"
                       class="form-control"
                       id="registerPassword"
                       placeholder="Password">
            </div>
            <button type="submit"
                    class="btn btn-primary">Register <i class="fas fa-sign-in-alt"></i></button>
        </form>
    </div>
</div>